.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;

    &__section {
        border: 2px solid black;
        padding: 1rem;

        &--hidden {
            visibility: hidden;
        }
    }

    &__home {
        &--green {
            background-color: green;
        }
        &--blue {
            background-color: blue;
        }
    }
}

.card {
    border-radius: 1.5rem;
    max-width: 100px;
}